.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  height: 100vh;
}

input, textarea {
  outline: none;
}

* {
  box-sizing: border-box;
}

.media-container {
  height: 90vh;
} 

@media screen and (max-width: 768px) {
  .App {
    padding: 0px;
  }
  .media-container {
    height: 100vh;
  }
}

